<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/resultStyle.css">
    </head>
    <body>
        <div class="container">
            <h2>Submitted Information</h2>
            <h4>Name:             <%= context.name %></h4>
            <h4>Location:         <%= context.location %></h4>
            <h4>Favorite Language:  <%= context.language %></h4>
            <h4>Comment:            <%= context.comment %></h4>
        </div>
        <a href="/"><button>Go Back</button></a>
    </body>
</html>