<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="post" action="/quotes">
            <label for="name">Your name:</label><input type="text" name="name" value=""><br>
            <label for="quote">Your quote:</label><textarea name="quote" rows="10" cols="50"></textarea><br>
            <button type="submit">Add my quote</button>
        </form><a href="/quotes"><button>Skip to quotes</button></a>
    </body>
</html>